/node_modules
/public/hot
/public/storage
/public/predracuni
/public/bl
/public/bl/blacklist.txt
/storage/*.key
.env
.cpanel.yml
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
docker-compose-beckup.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor/_laravel_ide/*
/.idea
/.vscode