/node_modules
/public/hot
/public/storage
/public/predracuni
/public/bl
/public/bl/blacklist.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
docker-compose-beckup.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode