/node_modules
/public/hot
/public/storage
/public/predracuni
/public/bl/*
/public/bl/blacklist.txt
/storage/*.key
.env
# .cpanel.yml NE ignorisati - cPanel ga cita iz repozitorijuma na serveru.
# Ako bi ostao van gita, deploy grane bi koristio zadnju commit-ovanu putanju
# i mogao bi da prepise produkciju. Putanja se sada bira automatski po grani.
.phpunit.result.cache
docker-compose.yml
docker-compose.override.yml
docker-compose-beckup.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor/_laravel_ide/*
/.idea
/.vscode